footer{
    padding-top: 100px;
    ul{
        li{
            padding: 5px;
            a{
                color: black;
            }
            p{
                padding: 3px;
                color: black;
            }
        }
    }
}