.offers{
    // text-align: center;

    // padding-top: 100px;
     h2{
        font-size: 45px;
        font-family: "Cedarville Cursive", cursive;
    }
     p{
        font-size: 24px;
    }
    .btn{
        display: flex;
        justify-content:space-between;
    }
}