// Variable Declaration
$white-color: #fff;
$black-color: #000;
$gutter-width: 16px;
$fs: 13px;
$lh: 1.6;
$font-color: #333333;
$bg-color: #fff;
$fw: 400;

:root{
    --white-color:#ffffff;
}

* {
  margin: 0;
  box-sizing: border-box;
}
body {
  font-size: $fs;
  line-height: $lh;
  background-color: $bg-color;
  font-weight: $fw;
}
.container {
  width: 1320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: $gutter-width;
  padding-right: $gutter-width;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * ($gutter-width));
  margin-right: calc(-1 * ($gutter-width));
}
.w-1 {
  width: 8.3333%;
}
.w-2 {
  width: 16.6666%;
}
.w-3 {
  width: 25%;
}
.w-4 {
  width: 33.3333%;
}
.w-5 {
  width: 41.6666%;
}
.w-6 {
  width: 50%;
}
.w-7 {
  width: 58.3333%;
}
.w-8 {
  width: 66.6666%;
}
.w-9 {
  width: 75%;
}
.w-10 {
  width: 83.3333%;
}
.w-11 {
  width: 91.6666%;
}
.w-12 {
  width: 100%;
}
.w-1,
.w-2,
.w-3,
.w-4,
.w-5,
.w-6,
.w-7,
.w-8,
.w-9,
.w-10,
.w-11,
.w-12 {
  padding-left: $gutter-width;
  padding-right: $gutter-width;
  // border: 1px solid black;
}
.flex-wrap{
  flex-wrap: wrap;
}
.justify-start {
  justify-content: start;
}
.justify-center {
  justify-content: center;
}
.justify-end {
  justify-content: end;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}
.justify-evenly {
  justify-content: space-evenly;
}
.items-start {
  align-items: flex-start;
}
.items-center {
  align-items: center;
}
.items-end {
  align-items: flex-end;
}
.d-flex {
  display: flex;
  flex-wrap: wrap;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
a {
  text-decoration: none;
}
ul,
li {
  list-style: none;
}
img {
  width: 100%;
  height: 70vh;
  display: block;
}
.py-60 {
  padding-bottom: 60px;
  padding-top: 60px;
}
.pt-50 {
  padding-top: 50px;
}
.pb-30 {
  padding-bottom: 30px;
}

