:root {
  --primary-100: #d5f1f1;
  --primary: #23bcec;
  --primary-rgb: 35, 188, 236;
  --primary-900: #204f5e;
  --primary-900-rgb: 32, 79, 94;
  --secondary: #ee753d;
  --secondary-rgb: 236, 185, 52;
  --black-color: #000000;
  --black-rgb: 0, 0, 0;
  --white: #ffffff;
  --white-rgb: 255, 255, 255;
  --bg: #faffff;
  --bg-rgb: 250, 255, 255;
  --text-color: #5a8695;
  --font: Assistant;
  --font2: Caveat;
  --fs: 16px;
  --fw: 300;
  --lh: 1.5;
  --gw: 15px;
}

:root {
  --white-color:#ffffff;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 13px;
  line-height: 1.6;
  background-color: #fff;
  font-weight: 400;
}

.container {
  width: 1320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -16px;
  margin-right: -16px;
}

.w-1 {
  width: 8.3333%;
}

.w-2 {
  width: 16.6666%;
}

.w-3 {
  width: 25%;
}

.w-4 {
  width: 33.3333%;
}

.w-5 {
  width: 41.6666%;
}

.w-6 {
  width: 50%;
}

.w-7 {
  width: 58.3333%;
}

.w-8 {
  width: 66.6666%;
}

.w-9 {
  width: 75%;
}

.w-10 {
  width: 83.3333%;
}

.w-11 {
  width: 91.6666%;
}

.w-12 {
  width: 100%;
}

.w-1,
.w-2,
.w-3,
.w-4,
.w-5,
.w-6,
.w-7,
.w-8,
.w-9,
.w-10,
.w-11,
.w-12 {
  padding-left: 16px;
  padding-right: 16px;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-start {
  justify-content: start;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: end;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-evenly {
  justify-content: space-evenly;
}

.items-start {
  align-items: flex-start;
}

.items-center {
  align-items: center;
}

.items-end {
  align-items: flex-end;
}

.d-flex {
  display: flex;
  flex-wrap: wrap;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  width: 100%;
  height: 70vh;
  display: block;
}

.py-60 {
  padding-bottom: 60px;
  padding-top: 60px;
}

.pt-50 {
  padding-top: 50px;
}

.pb-30 {
  padding-bottom: 30px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
  width: 100%;
}
header nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav .logo-bar img {
  width: 150px;
  height: 91px;
}
header nav .header-bar ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav .header-bar ul li {
  padding-left: 20px;
  padding-right: 20px;
}
header nav .header-bar ul a {
  color: white;
  font-size: 16px;
  text-align: center;
}
header nav .header-bar .icon-bar P {
  color: white;
}

.banner-img {
  background-image: url("../img/banner.jpg");
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-img .banner-contant h1 {
  font-size: 60px;
  text-align: center;
  color: white;
  font-family: var(--font2);
}

.winter-contant {
  text-align: center;
}

.winter-contant h2 {
  font-size: 45px;
  font-family: "Cedarville Cursive", cursive;
}

.winter-contant p {
  font-size: 16px;
}

.btn {
  padding: 15px;
  border: 1px solid black;
  width: 150px;
  margin: 40px 0;
  transition: all 0.3s linear;
}
.btn:hover {
  color: #000000;
  background-color: #f4eeee;
  border-color: #FFFFFF;
}

.room h2 {
  text-align: center;
  font-size: 60px;
  font-family: "Cedarville Cursive", cursive;
}
.room p {
  text-align: center;
  font-size: 22px;
}

.delux img {
  padding-top: 15%;
}

h3 {
  padding-top: 20px;
  font-size: 22px;
}

div {
  font-size: 17px;
  padding-bottom: 15px;
}

.resort h2 {
  font-size: 45px;
  font-family: "Cedarville Cursive", cursive;
}
.resort p {
  font-size: 24px;
}
.resort .btn {
  display: flex;
  justify-content: space-between;
}

/* lora-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Lora";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/lora-v35-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* lora-italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Lora";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/lora-v35-latin-italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* lora-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Lora";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/lora-v35-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* lora-500italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Lora";
  font-style: italic;
  font-weight: 500;
  src: url("../fonts/lora-v35-latin-500italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* lora-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Lora";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/lora-v35-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* lora-600italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Lora";
  font-style: italic;
  font-weight: 600;
  src: url("../fonts/lora-v35-latin-600italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* lora-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Lora";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/lora-v35-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* lora-700italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Lora";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/lora-v35-latin-700italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
.fix {
  background-image: url("../img/winter/scroling.jpg");
  width: 100%;
  height: 500px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.restaurant {
  text-align: center;
}

.restaurant h2 {
  font-size: 45px;
}

.restaurant p {
  font-size: 24px;
  text-align: left;
}

.spa {
  text-align: center;
}
.spa h2 {
  font-size: 60px;
}
.spa p {
  font-size: 16px;
} 

.scrol {
  background-image: url("../img/winter/scrol.jpg");
  width: 100%;
  height: 500px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Cedarville Cursive", cursive;
}

footer {
  padding-top: 100px;
}
footer ul li {
  padding: 5px;
}
footer ul li a {
  color: black;
}
footer ul li p {
  padding: 3px;
  color: black;
}

/*# sourceMappingURL=style.css.map */
